<style>
    .cell {
        width: 100px;
        height: 100px;
        vertical-align: text-bottom;
        margin-right: 1rem;
        font-size: 3rem;
        font-weight: 700;
    }
    
    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .row {
        margin-top: 1rem;
    }
</style>
<div class=" content">
    <button type="button" class="orange" *ngIf="!game" (click)="startGame()">Iniciar</button>
    <div class="row" *ngIf="game">
        <div class="col-auto">
            <div class="row">
                <button class="cell primary outline" (click)="onCellClick($event)" id="1"></button>
                <button class="cell primary outline" (click)="onCellClick($event)" id="2"></button>
                <button class="cell primary outline" (click)="onCellClick($event)" id="3"></button>
            </div>
            <div class="row">
                <button class="cell primary outline" (click)="onCellClick($event)" id="4"></button>
                <button class="cell primary outline" (click)="onCellClick($event)" id="5"></button>
                <button class="cell primary outline" (click)="onCellClick($event)" id="6"></button>
            </div>
            <div class="row">
                <button class="cell primary outline" (click)="onCellClick($event)" id="7"></button>
                <button class="cell primary outline" (click)="onCellClick($event)" id="8"></button>
                <button class="cell primary outline" (click)="onCellClick($event)" id="9"></button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>